<h1><%= @user.name %>さんの学習内容</h1>

<div class="user-details">
  <div class="user-icon">
    <%= image_tag(@user.icon.url, alt: @user.email, size: "100x100") if @user.icon.present? %>
  </div>
  <div class="user-info">
    <p>名前: <%= @user.name %></p>
    <p>コイン数: <%= @coins %></p>
  </div>
</div>

<ul>
  <% @learning_progresses.each do |progress| %>
    <li>
      <%= progress.content %>: <%= progress.progress %>%
    </li>
  <% end %>
</ul>

<style>
  .user-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .user-icon {
    margin-right: 20px;
  }
  .user-info {
    text-align: left;
  }
</style>
